# Repositorios externos (se descargan con setup.sh)
cont-portal/
cont-guardias/
cont-nginx/
cont-empa/
cont-reportespiolis/
cont-monitor-recursos/
cont-dash/

# Entorno
.env

# Logs
logs/
logs/nginx/

# Docker
.docker/

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporales
*.tmp
*.temp

#Claude
CLAUDE.md
